

.home-container {
  position: relative; /* Add relative positioning to the home container */
  display: flex;
  gap: 2rem;
  }

  .user-container {
  width: 100%;
  position: relative;
  background-color: #4b4b4b;
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
  z-index: 2;
  }
  
  /* Chat container */
  .chat-container {
    width: 100%;
    color: #588383;
    position: relative;
    z-index: 1; 
  }

  .userlist-interface {
    position: absolute;
    margin-top: auto;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #1e2a2a;
    z-index: 2;
    transition: left 0.3s ease-in-out;
    overflow-x: hidden;
  }

  .userlist-interface.open {
    left: 30px;
    height: 100%;
  }
  
  /* Empty chat container */
  .empty-chat-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: 1e2a2a;
    height: 80vh;
    width: 100%;
  }
  
  .empty-chat-image {
    width: 100%;
    height: 100%;
  }
  
  .empty-chat-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
  }
  
  /* User Search */
  .user-search {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    color: white;
  }
  
  .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    color: white;
  }
  
  .search-icon {
    margin-right: 0.5rem;
    color: #333;
  }
  
  /* User List */
  .user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;    
    background-color: #1e2a2a;
    cursor: pointer;
    transition: border 0.2s;
    color: white;
  }
  
  .user-card:hover {
    border-color: #ffffff;
  }
  
  .selected {
    border: 2px solid #ffffff;
  }
  
  
  
  .user-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .user-avatar-placeholder {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #f7efef;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-initial {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    color: #ffffff;
  }
  
  .user-details {
    margin-left: 1rem;
  }
  
  .user-name {
    display: flex;
    align-items: center;
  }
  
  .user-status.online {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #28A745;
    border-radius: 50%;
    margin-left: 0.5rem;
  }
  
  .create-chat-button {
    border: 1px solid #007BFF;
    color: #007BFF;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    background-color: #6e6d6d;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .create-chat-button:hover {
    background-color: #007BFF;
    color: #fff;
  }
  
  /* Chat Area */
  .chat-area {
    background-color: #1e2a2a;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  /* Chat messages */
  .chat-messages {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 55vh;
    overflow-y: scroll;
    padding: 1rem;
  }
  
  .chat-message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .sender-message {
    background-color: #007BFF;
    color: #fff;
    justify-content: flex-end;
    margin-left: auto;
  }
  
  .receiver-message {
    background-color: #f0f0f0;
  }
  
  .message-text {
    font-size: 1rem;
  }
  
  .message-image {
    max-width: 512px;
    height: 512px;
    border-radius: 0.5rem;
  }
  
  .message-timestamp {
    font-size: 0.875rem;
    color: #ffffff;
  }
  
  /* Chat input */
  .chat-input {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  
  .message-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    
  }
  
  .emoji-button {
    margin-right: 0.5rem;
    color: #ffffff;
  }
  
  .send-button {
    border: 1px solid #007BFF;
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;   
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .send-button:hover {
    background-color: #007BFF;
    color: #fff;
  }

  .toggle-user-container{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1e2a2a;
  justify-content: center;
  color: #000000;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 1.9s, color 0.2s;
  z-index: 3;
  }
