/*-----------------------------------------------chat-area.css----------------------------------------*/

.chat-area {
  background-color: #1e2a2a;
  height: 82vh;
  border: 2px solid;
  border-radius: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.file-picker{
  padding-right: 5px;
  margin-right: 30px;
  display: flex;
}

.emoji-picker{
  width: 20px; 
  height: 20px;
  flex-direction: row;
}

.file-picker-icon{
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}

.chatarea-timestamps{
  color: #ccc;
  
}

.lowercase{
  color: white;
}


/* ----------------------------------------- USER LIST CSS --------------------------------------------- */

.users-list {
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    width: 90%;
    max-width: 100%;
    background-color: #1e2a2a;
  }
    
  .user-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5px;
    width: 100%;
  }

  .user-card-each{
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #2d3b2d;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    color: white;
  }
  .user-card-name{
    display: flex;
    gap: 1rem;
    width: 72px;
  }
  .user-card-message{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .user-card-message-text{
    size: 18px;
    padding-right: 30px;
    color: white;
  }
  .user-card-message-last{
    align-items: right;
    color: #a7a7a7;
    font-size: 12px; 
    margin-left: auto;
    padding-left: 15px;
    padding-top: 10px;
  }

  .user-card-details{
    display: flex;
    flex-direction: row;
  }


  /* --------------------------------------------USER SEARCH CSS----------------------------------------- */

  .search-bar-area{
    color: #ffffff;
    background-color: #1e2a2a;
}

.search-bar{
  border-radius: 1rem;
  background-color: #1e2a2a;
  width: 100%;
  height: 3.5rem;
    
}
